<div class="row">


  <div class="col-md-12 grid-margin stretch-card">
    <div class="card card-weather">
      <div class="card-body">

        <ngb-tabset class="tab-solid tab-solid-primary">
          <ngb-tab>
            <ng-template ngbTabTitle>
              <i class="mdi mdi-home-outline">Information Compte </i>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="card">
                <div class="card-body">
                  <p class="card-description">
                  </p>
                  <form class="forms-sample">
                    <div class="form-group">
                      <label for="exampleInputName1">Nom</label>
                      <input type="text" class="form-control" id="exampleInputName1" placeholder="Nom">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputLastName1">Prenom</label>
                      <input type="text" class="form-control" id="exampleInputLastName1" placeholder="Prenom">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail3">Email </label>
                      <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
                    </div>
                    <div class="form-group">
                      <label for="adresseEthereum">Adresse Ethereum</label>
                      <input type="text" class="form-control" id="adresseEthereum" placeholder="Adresse Ethereum">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword4">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password">
                    </div>
                    <div class="form-group">
                      <label for="photoDeProfil">Photo de Profil</label>
                      <input type="text" class="form-control" id="photoDeProfil" placeholder="Location">
                    </div>
                    <button class="btn btn-light ">Abandonner</button>

                    <button type="submit" class="btn btn-success mr-2 " style="float: right">Suivant</button>
                  </form>
                </div>
              </div>

            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <i class="mdi mdi-account-outline"></i>Information Personnelle
            </ng-template>
            <ng-template ngbTabContent>
              <div class="card">
                <div class="card-body">
                  <p class="card-description">
                  </p>
                  <form class="forms-sample">
                    <div class="form-group">
                      <label for="dateDeNaissance">Date De Naissance</label>
                      <input type="text" class="form-control" id="dateDeNaissance" placeholder="xx/xx/xxxx">
                    </div>
                    <div class="form-group">
                      <label for="adresse">Adresse</label>
                      <input type="text" class="form-control" id="adresse" placeholder="exp: 12 rue de Paris">
                    </div>
                    <div class="form-group">
                      <label for="Ville">Ville</label>
                      <input type="text" class="form-control" id="Ville" placeholder="exp:Tunis">
                    </div>
                    <div class="form-group">
                      <label for="pays">Pays</label>
                      <input type="text" class="form-control" id="pays" placeholder="exp: La Tunisie">
                    </div>
                    <div class="form-group">
                      <label for="codePostal">Code Postal</label>
                      <input type="text" class="form-control" id="codePostal" placeholder="exp: 1100">
                    </div>
                    <div class="form-group">
                      <label for="CV">CV</label>
                      <input type="text" class="form-control" id="CV" placeholder="Joindre vote CV">
                    </div>
                    <button class="btn btn-light">Précédent</button>
                    <button class="btn btn-light  mr-2">Abandonner</button>


                    <button type="submit" class="btn btn-success mr-2" style="float: right">Suivant</button>
                  </form>
                </div>
              </div>

            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <i class="mdi mdi-account-outline">Compte Bancaire </i>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="card">
                <div class="card-body">

                  <p class="card-description">
                  </p>
                  <form class="forms-sample">
                    <div class="form-group">
                      <label for="rib">RIB</label>
                      <input type="text" class="form-control" id="rib" placeholder="rib">
                    </div>
                    <div class="form-group">
                      <label for="iban">IBAN</label>
                      <input type="text" class="form-control" id="iban" placeholder="iban">
                    </div>
                    <div class="form-group">
                      <label for="titulaire">Titulaire</label>
                      <input type="text" class="form-control" id="titulaire" placeholder="exp: John Paul">
                    </div>
                    <div class="form-group">
                      <label for="idBancaire">Relevé d'ID bancaire </label>
                      <input type="text" class="form-control" id="idBancaire" placeholder="Joindre le relevé de votre identité bancaire ">
                    </div>
                    <button class="btn btn-light">Précédent</button>
                    <button class="btn btn-light">Abandonner</button>

                    <button type="submit" class="btn btn-success mr-2" style="float: right">Enregistrer </button>
                  </form>
                </div>
              </div>

            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>

