<div class="row">
        <div class="col-md-4 grid-margin ">
          <div class="card card-weather">
          </div>
        </div>

        <div class="col-md-8 grid-margin stretch-card">
          <div class="card card-weather">
            <div class="card-body">

              <ngb-tabset class="tab-solid tab-solid-primary">
                <ngb-tab>
                  <ng-template ngbTabTitle>
                    <i class="mdi mdi-home-outline"></i>
                  </ng-template>
                  <ng-template ngbTabContent>
                    <div class="row">w
                      <div class="col-md-4"><img class="img-fluid w-100 rounded" src="assets/images/samples/300x300/13.jpg" alt=""></div>
                      <div class="col-md-8">
                        <h5 class="mb-3">Heading</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi molestias iusto qui eos, vero provident ipsa neque! Molestiae, aperiam</p>
                      </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod ipsa odio dolore perspiciatis laudantium repellat quae, facere, laboriosam omnis dolorem quaerat quis assumenda!</p>
                  </ng-template>
                </ngb-tab>
                <ngb-tab>
                  <ng-template ngbTabTitle>
                    <i class="mdi mdi-account-outline"></i>Profile
                  </ng-template>
                  <ng-template ngbTabContent>
                    <div class="row">
                      <div class="col-md-4"><img class="img-fluid w-100 rounded" src="assets/images/samples/300x300/9.jpg" alt=""></div>
                      <div class="col-md-8">
                        <h5 class="mb-3">Heading</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi molestias iusto qui eos, vero provident ipsa neque! Molestiae, aperiam</p>
                      </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod ipsa odio dolore perspiciatis laudantium repellat quae, facere, laboriosam omnis dolorem quaerat quis assumenda!</p>
                  </ng-template>
                </ngb-tab>
                <ngb-tab>
                  <ng-template ngbTabTitle>
                    <i class="mdi mdi-message-text-outline"></i>Contact
                  </ng-template>
                  <ng-template ngbTabContent>
                    <div class="row">
                      <div class="col-md-4"><img class="img-fluid w-100 rounded" src="assets/images/samples/300x300/8.jpg" alt=""></div>
                      <div class="col-md-8">
                        <h5 class="mb-3">Heading</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi molestias iusto qui eos, vero provident ipsa neque! Molestiae, aperiam</p>
                      </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod ipsa odio dolore perspiciatis laudantium repellat quae, facere, laboriosam omnis dolorem quaerat quis assumenda!</p>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </div>
          </div>
        </div>
</div>
